<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"/>
    <title>Mash Cash Shop</title>
</head>

<body>
    <header>
        <a href="/"><h1>Mash Cash Shop</h1></a>
    </header>
    
    <main>
        {% for item in items %}
        <section>
            <!-- id: {{item["id"]}} -->
            <aside><img src="/static/images/{{item['id']}}.jpg" /></aside>
            
            {% if item['name'] != 'Flag' %}
            <a href="/item?id={{item['id']}}"><h3>{{item['name']}}</h3></a>
            {% else %}
            <a><h3>{{item['name']}}</h3></a>
            {% endif %}
            
            <p><b>{{item['price']}} Mashcash</b></p>
        </section>
        {% endfor %}
    </main>
</body>

</html>