<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"/>
    <title>Mash Cash Shop</title>
</head>

<body>
    <header>
        <a href="/"><h1>Mash Cash Shop</h1></a>
    </header>
    
    <main>
        <h3>{{item['name']}}</h3>
        <img src="/static/images/{{item['id']}}.jpg" />
        <p>{{item['description']}}</p>
        <p><b>{{item['price']}} Mashcash</b></p>
        <a class="button" href="javascript:alert('TODO')">Purchase</a>
    </main>
</body>

</html>