<!DOCTYPE html>

<html>

<head>
  <title>Clicker Clicker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="static/styles/index.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="static/scripts/obfuscated.js"></script>
</head>

<body>
  <center class='center'>
    <h1 id='total'>Mash: 0</h1>
    <h5 id="click" style="font-family:trebuchet MS;">mash/click: 1</h5>
    <img class="round" src="/static/images/mash.png" width="150" onclick='clicked()'></img>
    <br><br>
    <button id='upgrade' class="round" onclick='upgrade()' style="font-family:courier;">Clicker Upgrade: 1 mash</button>
    <br><br>
    <button class="settings" onclick="flag()">Offer Mash</button>
    <p id="message"></p>
  </center>
</body>
</meta>

</html>